.ul {
    min-width: 875px;
    padding: 0;
    margin-top: 75px;
    border-bottom: 1px #FFFFFF solid;
}
.ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
    color: #FFFFFF;
}
.div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}