.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.main a {
    margin: 0 11px 0 27px;
    font-size: 16px;
    text-decoration: none;
}
.main a:focus {
    text-decoration: none;
}

.box {
    flex-grow: 0.9;
}