.form_img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 19px 75px 30px 75px;
    border-radius: 30px;
    background-color: #FFFFFF;
}
.feedback h1 {
    margin-bottom: 35px;
}

.form_img Input {
    margin-bottom: 35px;
}

.sel {
    height: 41px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 37px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #E6E6E6;
}

.feedarea {
    resize: none;
    min-height: 82px;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 35px;
    border-radius: 30px;
    background-color: #E6E6E6;
}
