select {
    height: 41px;
    background-color: #E6E6E6;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 37px;
    font-size: 16px;
}
.feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #FFFFFF;
    padding: 19px 75px 30px 75px;
    border-radius: 30px;
}
.feedback h1 {
    padding-bottom: 43px;
}
.feedarea {
    resize: none;
    min-height: 82px;
    width: 100%;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #E6E6E6;
}
.form_img {
    display: flex;
    justify-content: space-between;
    margin: 70px 138px 0 156px;
}
