.writeType {
    margin-bottom: 54px;
}
.writeType h2 {
    color: #594F77;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 800;
}
.writeType textarea {
    padding: 15px 24px;
    min-width: 719px;
    height: 69px;
    border: none;
    border-radius: 16px;
    background-color: #F3F1FF;
    color: #968ABD;
    resize: none;
}