.color {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
}
.signingUp {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 390px;
    background-color: #FFFFFF;
    padding: 40px 105px 30px 105px;
    border-radius: 30px;
}
.Line {
    background-color: gray;
    margin-bottom: 36px;
    height: 1px;
    width: 100%;
}
.Line::before {
    content: "";
    border-top: 1px solid gray;
    width: 105px;
    heigth: 1px;
    display: block;
    position: relative;
    right: 105px;
}
.Line::after {
    content: "";
    border-top: 1px solid gray;
    width: 105px;
    heigth: 1px;
    display: block;
    position: relative;
    right: -390px;
    top: -1px;
}
.signingUp h1 {
    margin-bottom: 49px;
    font-size: 32px;
}
.back {
    margin-bottom: 20px;
}