.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.signingUp {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 390px;
    padding: 40px 105px 30px 105px;
    border-radius: 30px;
    background-color: #FFFFFF;
}
.signingUp h1 {
    margin-bottom: 49px;
    font-size: 32px;
}

.Line {
    height: 1px;
    width: 100%;
    margin-bottom: 36px;
    background-color: gray;
}
.Line::before, .Line::after {
    position: relative;
    display: block;
    right: 105px;
    width: 105px;
    border-top: 1px solid gray;
    content: "";
}
.Line::after {
    right: -390px;
    top: -1px;
}

.color Input {
    margin-bottom: 35px;
}

.back {
    margin-bottom: 20px;
}