.color {
    background-color: #00426B;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}
.signingIn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 39%;
    margin: 0 30.5% 0 30.5%;
    background-color: #FFFFFF;
    padding: 40px 0 30px 0;
    border-radius: 30px;
}
.Line {
    background-color: gray;
    margin: 0 0 36px 0;
    height: 1px;
    width: 100%;
}
.signingIn h1 {
    margin: 0 0 49px 0;
    font-size: 32px;
}
.back {
    margin-bottom: 20px;
}
.onlyMargin {
    margin-bottom: 20px;
}