main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.back {
    display: flex;
    align-items: center;
    width: 844px;
    margin: 79px 0 23px 0;
}
.back a {
    max-height: 32px;
}
.back p {
    margin-left: 25px;
    font-size: 28px;
    font-weight: bold;
    color: #594F77;
}