.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 875px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: #FFFFFF;
    width: 249px;
    height: 184px;
    margin-top: 41px;
    border-radius: 10px;
}