.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 875px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 249px;
    height: 184px;
    margin-top: 41px;
    border-radius: 10px;
    box-shadow: 4px 4px 14px 0 rgba(89, 79, 119, 0.25);
    list-style-type: none;
    background-color: #FFFFFF;
}
.container:hover {
    box-shadow: 4px 4px 28px 0 rgba(89, 79, 119, 0.5);
    cursor: pointer;
}